$primary-text-color: #003479;

.section {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filter-wrapper {
  height: 523px;
  width: 330px;
  margin: 50px 50px 140px 350px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $primary-text-color;
    margin-top: 22px;
  }
  h3 {
    color: $primary-text-color;
    margin-top: 60px;
    margin-bottom: 21px;
  }
  span{
    color: $primary-text-color;
    font-size: 18px;
    margin-right: 12px;
  }
  //searchbox styling
  .search-box-wrap {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 275px;
    margin-top: 29px;
    border : 1px solid #644C79;

    i {
      background-color: #644c79;
      width: 50px;
      display: grid;
      place-items: center;
    }
    .form-search {
      background-color: white;
      border: none;
      outline: none;
      width: 225px;
      text-indent: 10px;
    }
  }
  //checkbox styling

  .checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    
    
  }

  //selector styling
  .form-selector {
    width: 275px;
    height: 50px;
    border: 1px solid #003479;
    padding: 10px;
    font-size: 15px;

  }
 
}

.posts-container {
  height: 630px;
  width: 830px;
  background-color: #f4f4f4;
  margin: 50px 350px 0px 0px;
  padding: 30px;
  hr {
    margin-bottom: 26px;
  }

  h3 {
    color: $primary-text-color;
  }
  .infos-wrap {
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 0.1fr;
    margin-bottom: 5px;
  }
  .pagination-wrap {
    display: flex;
    width: 100%;
    margin-top: 38.5px;
    justify-content: center;
  }
}
